<h2>Choose the model you want to use.</h2>

<ul>
<% @joha_models.each do |model_id, model_data|%>
  <% model_name = model_data[:model_name] %>
  <li><%= "<a href=\"#{@base_domain_url}/#{model_id}\">#{model_name}</a> tinkit_id: #{model_data[:tinkit_id]}, owner: #{model_data[:owner]}" %></li>
<% end %>
</ul>
<a href="/configure_new_graph">Add new model</a>
