<div> Choose the Domain to operate in </div>
<ul>
<% @joha_models.each do |model_name, model_data|%>
  <li><%= "<a href=\"#{@base_domain_url}/#{model_name}\">#{model_name}</a> tinkit_id: #{model_data[:tinkit_id]}", owner: #{model_data[:owner]}%></li>
<% end %>
</ul>
