<h1>Create New Graph</h1>  

<form action="/create_new_graph" class="new_user" id="new_user" method="post">
  <h3>Rough UI for making a new graph.</h3>
  <label for="graph_name">Graph Name</label>:
  <input id="graph_name" name="graph_name" size="30" type="text" /><br />
  <label for="graph_owner">Graph Owner</label>:
  <input id="graph_owner" name="graph_owner" size="30" type="text" /><br />
  
  <input id="new_graph_submit" name="new_graph_submit" type="submit" value="Create Graph" />
</form>