<div id="desc-info-attached_files">
<h2>All Attached Files</h2>
<% @desc_data.each do |field, node_data| %>
  <% node_data.each do |node_id, field_data| %>
    <a href="javascript:void(0)" onclick="actLikeNodeClicked('<%=node_id%>')"><%= field_data %></a>
    <span>, </span>
  <% end %>
<% end %>
