<div id="desc-info-attached_files">
<h2>All Attached Files</h2>
<% @desc_data.each do |field, node_data| %>
  <% node_data.each do |node_id, field_data| %>
    <% next unless field_data %>
    <% field_data.each do |att_name| %>
      <a href="/download/<%= node_id %>/<%= att_name %>" class="desc desc_file_attachment"><%= att_name %></a>
    <% end %>
  <% end %>
<% end %>
