<div id="desc-info-links">
<h2>All Links</h2>

<% @desc_data.each do |field, node_data| %>
  <% node_data.each do |node_id, field_data| %>
    <% if field_data %>
      <% field_data.each do |url, link_name| %>
        <% next unless url %>
        <% link_name ||= url %>
        <% [link_name].flatten.each do |link| %>
          [<a href="<%=url%>" class="desc desc_links"><%=link%></a>]
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
