<h1>Sign Up</h1>  

<form action="/user_sign_up" class="new_user" id="new_user" method="post">
  <!-- <div style="margin:0;padding:0;display:inline">
     <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
  </div> -->
  <label for="user_id">User Id</label>:
  <input id="user_id" name="user_id" size="30" type="text" /><br />

  <label for="user_pw">Password</label>:
  <input id="user_pw" name="user_pw" size="30" type="password" /><br />

  <label for="user_pw">Password Confirmation</label>:
  <input id="user_pw_confirm" name="user_pw_confirm" size="30" type="password" /><br />
  
  <input id="user_sign_up_submit" name="user_sign_up" type="submit" value="Sign Up" />
</form>
  