<h1>Sign Up</h1>  

<form action="/user_sign_up" class="new_user" id="new_user" method="post">
  <!-- <div style="margin:0;padding:0;display:inline">
     <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
  </div> -->
  <h3>Hi, it looks like your new around these parts. It's ok, just give us a friendly name so we can keep all that computer gobbledy-gook behind the curtains.</h3>
  <label for="user_id">Friendly User Name</label>:
  <input id="user_id" name="fid" size="30" type="text" /><br />

  
  <input id="user_sign_up_submit" name="user_sign_up" type="submit" value="Sign Up" />
</form>
  