/* General Styling */
input {
  width: 4em;
}

/* SASS Constants */
$C0: #F3EDED;
$CAnalog1:  #FAE8E1;
$CAnalog2: #DCC9C6;
$CAnalog3: #DCC6D1;
$CAnalog4: #FAE1FA;
$CComplement1: #A69292;
$CComplement2: #FFFFFF;
$CComplement3: #81A68C;
$CComplement4: #EDF3EF;
  
$joha_field_el_padding: 0.1em 0.1em 0.1em 0.1em;
$joha_el_margin: 0.2em 0.2em 0.2em 0.2em;

/* SASS Mixins */
@mixin bg-color-base {
  background-color: $C0;
}

@mixin bg-offset1 {
  background-color: $CAnalog1;
}

@mixin bg-offset2 {
  background-color: $CAnalog2;
}

@mixin array-color {
  background-color: $CComplement2;
}

@mixin item-color {
  background-color: $CComplement4;
  border-color: $CComplement3;
  border-style: solid;
  border-width: 1px;
}

@mixin object-color {
  background-color: $CAnalog3;
}

@mixin keyvalue-color {
  background-color: $C0;
}

@mixin joha-inline-block {
  display: inline-block;
  vertical-align: top;
}

@mixin joha-field-positioning { 
  position: relative;
    left: -0.1em;
}

@mixin joha-propagation {
  text-decoration: inherit;
}

@mixin joha-margin {
  margin: $joha_el_margin;
}

@mixin joha-node-label {
  @incluce joha-field-positioning;
  border-color: $C0;
  border-style: solid;
  border-width: 1px;
  @include bg-color-base;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding: $joha_field_el_padding;
}

#sass-tester {
}

#joha-edit-node-data .ui-icon { 
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
    top: -0.2em;
}

.ui-icon:hover {
  @include bg-offset1;
}

#joha-edit-node-data .selected {
  border-color: $CComplement3;
  border-style: solid;
  border-width: 4px;
}

/* Top Level Fields Styling */
.joha-field {
  border-color: $C0;
  border-style: solid;
  border-width: 1px;
  margin-top: 0.5em;
  padding-left: 0.25em;

  .joha-label{
    @include joha-node-label
  }

 .value-container {
    @include bg-color-base;
    @include joha-field-positioning;
    @include joha-propagation;
    padding: $joha_field_el_padding;
  }
}

/* basic value container styling */
.joha-field .basic-vc {
  @include item-color;
  @include joha-inline-block;
  @include joha-margin;
  @include joha-propagation;
/*  display: inline-block; */
/*  font-size: 90%; */
}

.basic-vc span {
  @include joha-propagation;
  padding-left: 0.5em;
}

/* Complex JSON Object Styling */
/* Styling must scale to arbitrary complexity */
/* Array Styling */
.array-vc {
  @include joha-inline-block;
  @include joha-propagation;
  @include array-color;
}
/*.array-vc:before {
  content: "[";
}
.array-vc:after {
  content: "]";
}
*/

.joha-array-item {
  margin: 0.1em;
  @include joha-inline-block;
  @include joha-propagation;
}
/*
.joha-array-item:after {
  content: ",";
}
*/
/* Object Styling */
.object-vc {
  @include joha-inline-block;
  @include joha-propagation;
  @include object-color;
}
/* Wraps curly braces around Object */
/*.object-vc:before {
  content: "{";
}
.object-vc:after {
  content: "}";
}
*/
.keyvalue-vc {
  @include joha-propagation;
  @include object-color;

  .keyvaluekey-vc {
    @include joha-propagation;
    @include joha-inline-block;
  }
  
  .keyvaluevalue-vc {
    @include joha-propagation;
    @include joha-inline-block;
  }
  
  .basic-vc {
    @include joha-propagation;
    @include joha-inline-block;
  }
}  
/* Adds Comma after Key-Value */
/* Not sure how to remove the trailing comma yet */
/*.keyvalue-vc:after {
  content: ",";
}*/

/* Adds : after object key */
.keyvaluekey-vc:after {
  content: ":";
}

/*Link Styling*/
.joha-links   .link-label {
    @include joha-node-label;
}

#joha-edit-node-data a {
  @include item-color;
  @include joha-inline-block;
  @include joha-margin;
}

/*File Container Styling*/
.joha-file-item {
  @include item-color;
  @include joha-inline-block;
  @include joha-margin;
  @include joha-propagation;
}


/* User Editing Styles */
.joha-update {
  color: blue;
  /* background-color: #aaaadd; */
  font-weight: 700;
}

/*remove .edit_new at some point */
.joha-create {
  color: green;
  /* background-color: #aaddaa; */
  font-weight: 700;
}

.joha-delete {
  color: red;
  text-decoration: line-through;
}

