/* General Styling */
input {
  width: 4em; }

/* SASS Constants */
/* SASS Mixins */
#joha-edit-node-data .ui-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  top: -0.2em; }

.ui-icon:hover {
  background-color: #fae8e1; }

#joha-edit-node-data .selected {
  border-color: #81a68c;
  border-style: solid;
  border-width: 4px; }

/* Top Level Fields Styling */
.joha-field {
  border-color: #f3eded;
  border-style: solid;
  border-width: 1px;
  margin-top: 0.5em;
  padding-left: 0.25em; }
  .joha-field .joha-label {
@incluce joha-field-positioning;
    border-color: #f3eded;
    border-style: solid;
    border-width: 1px;
    background-color: #f3eded;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    padding: 0.1em 0.1em 0.1em 0.1em; }
  .joha-field .value-container {
    background-color: #f3eded;
    position: relative;
    left: -0.1em;
    text-decoration: inherit;
    padding: 0.1em 0.1em 0.1em 0.1em; }

/* basic value container styling */
.joha-field .basic-vc {
  background-color: #edf3ef;
  border-color: #81a68c;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0.2em 0.2em 0.2em 0.2em;
  text-decoration: inherit;
  /*  display: inline-block; */
  /*  font-size: 90%; */ }

.basic-vc span {
  text-decoration: inherit;
  padding-left: 0.5em; }

/* Id and Label styling */
.id-lab {
  font-weight: bold; }

.id-lab:after {
  content: ": "; }

.field-label {
  border-color: #f3eded;
  border-style: solid;
  border-width: 1px;
  margin-top: 0.5em;
  padding-left: 0.25em; }
  .field-label .label-label {
@incluce joha-field-positioning;
    border-color: #f3eded;
    border-style: solid;
    border-width: 1px;
    background-color: #f3eded;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    padding: 0.1em 0.1em 0.1em 0.1em; }
  .field-label div {
    background-color: #f3eded;
    position: relative;
    left: -0.1em;
    text-decoration: inherit;
    padding: 0.1em 0.1em 0.1em 0.1em; }
    .field-label div span {
      background-color: #edf3ef;
      border-color: #81a68c;
      border-style: solid;
      border-width: 1px;
      display: inline-block;
      vertical-align: top;
      margin: 0.2em 0.2em 0.2em 0.2em;
      text-decoration: inherit; }

.field_label {
  background-color: #edf3ef;
  border-color: #81a68c;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0.2em 0.2em 0.2em 0.2em;
  text-decoration: inherit; }

/* Complex JSON Object Styling */
/* Styling must scale to arbitrary complexity */
/* Array Styling */
.array-vc {
  display: inline-block;
  vertical-align: top;
  text-decoration: inherit;
  background-color: white; }

/*.array-vc:before {
  content: "[";
}
.array-vc:after {
  content: "]";
}
*/
.joha-array-item {
  margin: 0.1em;
  display: inline-block;
  vertical-align: top;
  text-decoration: inherit; }

/*
.joha-array-item:after {
  content: ",";
}
*/
/* Object Styling */
.object-vc {
  display: inline-block;
  vertical-align: top;
  text-decoration: inherit;
  background-color: #dcc6d1; }

/* Wraps curly braces around Object */
/*.object-vc:before {
  content: "{";
}
.object-vc:after {
  content: "}";
}
*/
.keyvalue-vc {
  text-decoration: inherit;
  background-color: #dcc6d1; }
  .keyvalue-vc .keyvaluekey-vc {
    text-decoration: inherit;
    display: inline-block;
    vertical-align: top; }
  .keyvalue-vc .keyvaluevalue-vc {
    text-decoration: inherit;
    display: inline-block;
    vertical-align: top; }
  .keyvalue-vc .basic-vc {
    text-decoration: inherit;
    display: inline-block;
    vertical-align: top; }

/* Adds Comma after Key-Value */
/* Not sure how to remove the trailing comma yet */
/*.keyvalue-vc:after {
  content: ",";
}*/
/* Adds : after object key */
.keyvaluekey-vc:after {
  content: ":"; }

/*Link Styling*/
.joha-links .link-label {
@incluce joha-field-positioning;
  border-color: #f3eded;
  border-style: solid;
  border-width: 1px;
  background-color: #f3eded;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding: 0.1em 0.1em 0.1em 0.1em; }

#joha-edit-node-data a {
  background-color: #edf3ef;
  border-color: #81a68c;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0.2em 0.2em 0.2em 0.2em; }

/*File Container Styling*/
.joha-file-item {
  background-color: #edf3ef;
  border-color: #81a68c;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0.2em 0.2em 0.2em 0.2em;
  text-decoration: inherit; }

/* User Editing Styles */
.joha-update {
  color: blue;
  /* background-color: #aaaadd; */
  font-weight: 700; }

/*remove .edit_new at some point */
.joha-create {
  color: green;
  /* background-color: #aaddaa; */
  font-weight: 700; }

.joha-delete {
  color: red;
  text-decoration: line-through; }
